<!-- recipe image -->
<div class="row">
    <div class="col-xs-12">
        <img 
            [src]="recipe.imagePath" 
            alt="{{ recipe.name }}" 
            class="img-fluid"
            style="max-width: 150px;"
        >
    </div>
</div>
<!-- recipe heading -->
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<!-- manage recipe button -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-primary dropdown-toggle"
            >
                Manage recipe
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a href="#" class="nav-link">To shopping list</a>
                </li>
                <li class="dropdown-item">
                    <a href="#" class="nav-link">Edit recipe</a>
                </li>
                <li class="dropdown-item">
                    <a href="#" class="nav-link">Delete recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- recipe description -->
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description}}
    </div>
</div>
<!-- recipe ingredients -->
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>

