<!-- recipe image -->
<div class="row">
    <div class="col-xs-12">
        <img 
            [src]="recipe.imagePath" 
            alt="{{ recipe.name }}" 
            class="img-fluid"
            style="max-width: 150px;"
        >
    </div>
</div>
<!-- recipe heading -->
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<!-- manage recipe button -->
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown" 
            appDropdown
        >
            <a
                type="button"
                class="btn btn-primary dropdown-toggle"
                id="dropdownMenuLink" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false"
                appDropdown
            >
                Manage recipe
            </a>
            <ul class="dropdown-menu" 
                aria-labelledby="dropdownMenuLink"
                style="top: 40px; left: 0;"
            >
                <li class="dropdown-item">
                    <a href="#" class="nav-link">To shopping list</a>
                </li>
                <li class="dropdown-item">
                    <a href="#" class="nav-link">Edit recipe</a>
                </li>
                <li class="dropdown-item">
                    <a href="#" class="nav-link">Delete recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- recipe description -->
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description}}
    </div>
</div>
<!-- recipe ingredients -->
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients"
            >
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>

